@import "./normalize.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Main */
.container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/connormcgregor.png);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: -7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  width: 80%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(100%);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

/* Quote */
#quote {
  width: 50%;
  height: 5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  transform: translateY(-100%);
  opacity: 0.8;
  font-style: italic;
}

/* Button */
#button {
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(4, 9, 30, 0.7);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  background: rgb(255, 140, 0);
  background: linear-gradient(
    62deg,
    rgba(255, 140, 0, 1) 9%,
    rgba(255, 215, 0, 1) 23%,
    rgba(218, 165, 32, 1) 41%,
    rgba(229, 193, 102, 1) 70%,
    rgba(220, 170, 44, 1) 88%
  );
  cursor: pointer;
  color: white;
  transition: 0.2s ease-in-out all;
}
#button:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(194, 194, 194, 0.7);
}
